
<ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{ localize "tool-proficiencies-5e.Tools"}}</h3>
        <div class="item-detail item-tool-expertise">{{ localize "tool-proficiencies-5e.Expertise"}}</div>
        <div class="item-detail item-tool-ability">{{ localize "tool-proficiencies-5e.Ability"}}</div>
        <div class="item-detail item-tool-bonus">{{ localize "tool-proficiencies-5e.Bonus"}}</div>
        <div class="item-detail item-tool-modifier">{{ localize "tool-proficiencies-5e.Modifier"}}</div>
    </li>
    <ol class="item-list">
        {{#each toolProficiencies as |toolData|}}
        <li class="tool flexrow tool-data" data-item-id="{{toolData.label}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url({{toolData.img}})"></div>
                <h4>
                    {{toolData.label~}}
                </h4>
            </div>

            <div class="item-detail item-tool-expertise">
                <input type="checkbox" name="flags.{{../MODULE_NAME}}.{{toolData.label}}.expertise" {{checked toolData.expertise}} data-dtype="Boolean">
            </div>

            <div class="item-detail item-tool-ability">
                <select data-dtype="String" name="flags.{{../MODULE_NAME}}.{{toolData.label}}.ability">
                    {{#select toolData.ability}}
                        <option value="-">---</option>
                        <option value="str">Str</option>
                        <option value="dex">Dex</option>
                        <option value="con">Con</option>
                        <option value="int">Int</option>
                        <option value="wis">Wis</option>
                        <option value="cha">Cha</option>
                    {{/select}}
                </select>
            </div>

            <div class="item-detail item-tool-bonus">
                <input type="number" name="flags.{{../MODULE_NAME}}.{{toolData.label}}.bonus" value="{{toolData.bonus}}" data-dtype="Number">
            </div>

            <div class="item-detail item-tool-modifier">
                {{toolData.modifier}}
            </div>
        </li>
        {{/each}}
    </ol>
</ol>
